@import '../../styles/settings.scss';


.navbar {
    width: 100%;
    background-color: darken($color-dark, 3%);
    font-size: 24px;
    line-height: 24px;
    font-family: $font-text;
    position: sticky;
    top: 0;
    z-index: 1;

    a {
        text-decoration: none;
        color: $color-light;
        transition: 0.5s;
    }
}

.flex {
    display: flex;
    justify-content: space-between;

}

.container {
    margin-top: 0;
    padding : 20px 0;
}

.links {
    font-size: 16px;
    font-weight: 600;
    

    a {
        margin-right: 10px;
    }

    a:last-child {
        margin-right: 0;
    }

    a:hover {
        color: $color-warning;
    }

    .linkActive {
        color: $color-warning;
    }
}

